page-login {
    .background {
        height: 100%;
        width: 100%;
        background: linear-gradient(15deg, #452b6d, #5b25c1);
    }
    .scroll-content {
        text-align: center;
    }
    ion-label.label {
        color: #fff;
    }
    ion-card.card {
        background: rgba(19, 45, 29, 0.2px);
        border-radius: 10px;
    }
    .item {
        background: rgba(19, 45, 29, 0px);
    }
    ion-input {
        border-bottom: #fff solid 1px;
    }
    .he {
        color: #fff;
        font-size: 3em;
        font-weight: lighter;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'sans-serif';
    }
    .img {
        border-radius: 50%;
        width: 90px;
        margin: auto;
    }
}